
.left{   margin-top:10%;
    margin-left:10%;
     width:50vw;
    }

.right{
    margin-top:5%;
    width:50vw;
    
    }

.home-img{

   max-width:150%;
 
    margin-left: -10%; 
}
@media only screen and (max-width:600px) {
.left{ 
 
     width:100vw;
    
    }

.right{
    width:100vw;
  
    
    }

.home-img{

  
    margin-top: 0;
    margin-left: 0; 
}
.wrap{
    flex-wrap:wrap;
}
            
}